/* SIGNUP PAGE */
.landing h1 {
    font-family: 'Krona One', sans-serif;
}

.landing-img {
    background: url("../images/gradientlanding.png");
    width: 100vw;
    height: 70vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 12.5px );
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 2.7),rgba(255, 255, 255, 0.3));
    padding: 3rem;
    border-radius: 2rem;
    box-shadow: var(--box_shadow);
}

.landing-content h1 {
    font-size: 50px;
    margin-bottom: 2rem;
}

.signup {
    background: var(--white);
    min-height: 50vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 2.7),rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    padding: 4rem;
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 12.5px );
    box-shadow: var(--box_shadow);
}

.login {
    border-right: solid var(--white) 1px;
}

.login-form input {
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    border: none;
    width: 85%;
    margin-bottom: 1rem;
}

.join {
    padding-left: 3.5rem;
}

.button:hover {
    background-color: #0083E0;
    font-weight: bold;
}
